@font-face {
	font-family: "Poppinssemi";
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url("../../fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
	font-family: "Poppins";
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url("../../fonts/Poppins-Bold.ttf") format("truetype");
}

@font-face {
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../../fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype");
}

@layer base {
	body {
		font-family: "Inter", sans-serif;
	}

	h1,
	.h1 {
		@apply font-poppins font-bold text-6xl uppercase leading-none;
		@screen md {
			@apply text-4xl;
		}
	}

	h2,
	.h2 {
		@apply font-semi font-semibold text-4xl;
		@screen md {
			@apply text-3xl;
		}
	}

	h3,
	.h3 {
		@apply font-semi font-semibold text-2xl;
	}

	h4,
	.h4 {
		@apply font-inter text-lg text-white;
	}

	p {
		@apply font-inter text-neutral-light text-2xl;
	}

	section {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}
