@layer base {
	body {
		font-family: "Inter", sans-serif;
	}

	h1,
	.h1 {
		@apply font-poppins font-bold text-6xl uppercase leading-none;
		@media (min-width: 992px) {
			@apply text-4xl;
		}
	}

	h2,
	.h2 {
		@apply font-poppins font-semibold text-4xl;
		@screen md {
			@apply text-3xl;
		}
	}

	h3,
	.h3 {
		@apply font-poppins font-semibold text-2xl;
	}

	h4,
	.h4 {
		@apply font-poppins font-semibold text-lg text-black;
	}

	p {
		@apply font-inter text-neutral-light text-base;
	}

	section {
		padding-top: 120px;
		padding-bottom: 120px;
	}
}
