body {
	font-family: "Inter", sans-serif;
}

h1,
.h1 {
	@apply font-sans font-bold text-6xl uppercase;
	@screen md {
		@apply text-4xl;
	}
}

h2,
.h2 {
	@apply font-sans font-bold text-4xl;
	@screen md {
		@apply text-3xl;
	}
}

h3,
.h3 {
	@apply font-sans font-bold text-3xl;
}

h4,
.h4 {
	@apply font-sans font-bold text-lg text-white;
}

a {
	@apply font-sans font-semibold;
}
p {
	@apply font-head text-neutral-light text-xl;
}

section {
	padding-top: 120px;
	padding-bottom: 120px;
}
